.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.boton-simpsons {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}
/* Estilo al pasar el mouse sobre el botón */
.boton-simpsons:hover {
    background-color: #ff8000;
}
/* Estilo del texto dentro del botón */
.boton-simpsons span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
/* Estilo del icono dentro del botón */
.boton-simpsons img {
    vertical-align: middle;
}