<section class="titulo">
    <h2><img src="../../../assets/images/gamestation.png" alt=""></h2>
     <section class="titulo">
      <h4>Bienvenido a la mejor tienda de videojuegos!</h4>
      <p></p>
    </section>
    <h2>OFERTAS</h2>
    <section class="lista-cafes">
      <hr />
      <div class="tipo">
        <img src="../../../assets/images/ps4.png" alt="ps4" />
        <h3> Juegos PS4</h3>
        <p>
         Aprovecha de nuestras ofertas en tus juegos favoritos de PS4
         
        </p>
      </div>
      <hr />
      <div class="tipo">
        <img src="../../../assets/images/nintendo-sw.png" alt="nintendo" />
        <h3> Juegos Nintendo Switch</h3>
        <p>
            Aprovecha de nuestras ofertas en tus juegos favoritos de Nintendo Switch
        </p>
      </div>
      <hr />
      <div class="tipo">
        <img src="../../../assets/images/xbox.png" alt="xbox" />
        <h3>Juegos XBOX ONE</h3>
        <p>
            Aprovecha de nuestras ofertas en tus juegos favoritos de XBOX ONE
        </p>
      </div>
    </section>

  
  </section>

